snippet todo "Add a todo" b
`!p
from snippet_helpers import get_todo_one, get_todo_two, get_todo_three
snip.rv = get_todo_one("//")`$1`!p
snip.rv = get_todo_two(t[1])`${0:todo} `!p
snip.rv = get_todo_three()`
endsnippet
